* {
    margin: 0px;
    padding: 0px;
    
}

html {
    scroll-behavior: smooth;
    font-family: 'Orbitron', 'sans-serif';
}

body {
    width: 1280px;
    margin: auto;
    background-color: rgba(23, 27, 38, 1);
    background-image: url(/img/capa.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

#topo {
    width: 0px;
    position: absolute;
    top: -10px;
}

/* MENU */
nav { 
    position: fixed;
    float: left;
    top: 2px;
    z-index: 999;
    
}

.menu {
    list-style: none;
    position: relative;
    float: left;
    margin-top: 5px;
    display: block;
    justify-content: space-between;
}

.menu li{
    list-style: none;
    position: relative;
    float: left;
    width: 256px;
    background-color: rgba(51, 51, 51, 0.9);
}

.menu li a {
    color: #a074c4;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}

.menu li a:hover {
    background-color: rgba(40, 40, 40, 1);
    color: white;
}

.menu li ul {
    width: 250px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.6s linear;
}

.menu li:hover ul {
    visibility: visible;
    opacity: 100;
}


/* Botão Próximo */
.btnproximo {
    width: 60px;
    height: 90px;
    border: 1px solid blue;
    text-align: center;
    position: relative;
    top: 30vh;
    right: 50%;
}

.btnproximo a{
    display: block;
    margin-top: 30px;
    color: #a074c4;
    font-size: 3em;
    text-decoration: none;
    animation: btnProximo 2s linear 1s infinite alternate;
}

@keyframes btnProximo {
    from {margin-top: 0px}
    to {margin-top: 30px}
}

/* Botão continuar lendo */

.btnContinuarLendo {
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 15px 30px;
    font-size: 1.3em;
    background-color: #a074c4;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s color padding;
}

.btnContinuarLendo:hover {
    margin-top: 57px;
    margin-bottom: 33px;
    color: #f0f0f0;
    box-shadow: 3px 3px 5px #7a519d;
}

.btnSaberMais {
    margin: 10px;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 10px;
    color: #f0f0f0;
    background-color: #a074c4;
    text-decoration: none;
}

.btnSaberMais:hover {
    box-shadow: 2px 2px 2px #7a519d;
}

#retornoTopo {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#retornoTopo img {
    width: 50px;
    padding: 2px;
    border-radius: 50%;
    background-color: #a074c4;
    transition: 1s;
 }

 #retornoTopo img:hover {
     background-color: #FFF;
 }

 /* APRESENTAÇÃO INICIAL */
header {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Redes Sociais */
header .redesSociais {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 250px;
}

header .redesSociais img {
    border-radius: 50%;
}

header .redesSociais img:hover {
    zoom: 1.2;
}

/* Foto de perfil */
header #fotoPerfil {
    display: block;
    width: 250px;
    height: 250px;
    background-image: url(/img/perfil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    border-radius: 50%;
}

header p {
    font-size: 2em;
    color: #FFF;
    padding-right: 6px;
}

#setaBaixoUm a {
    color: #a074c4;
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    top: 80%;
    left: 50%;
    animation: setaBaixoUm 1s linear 1s infinite alternate;
}

#setaBaixoUm a:hover {
    color: #FFF;
    transition: color 1s;
}

@keyframes setaBaixoUm {
    from {top: 80%}
    to {top: 75%}
}

/* Quem Sou eu */
#quemSouEu {
    background-color: #f0f0f0;
    margin-top: 50vh;
    padding-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

#quemSouEu img {
    width: 400px;
    margin-top: -100px;
}

#quemSouEu div {
    width: 600px;
    margin: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* Disposição em formato de vitral */
.vitral {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-around;
}

.vitral div {
    padding: 40px 50px 50px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid black;
    box-shadow: 5px 10px 20px gray;
}

.vitral img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.vitral p {
    text-align: center;
    margin-bottom: 20px;
}

/* Experiência Profissional */
#empregos {
    /* border: 1px solid hotpink; */
    height: 95vh;
    color: #696969;
    background-color: #222;
}

#empregos h3 {
    text-align: center;
    font-size: 2em;
    padding: 60px 0px 60px 0px;
}


