main img {
    /* border: 1px solid red; */
    /* width: 1280px; */
}

article:nth-child(even) {
    background-color: #ccc;
    color: black;
}

article {
    padding: 20px;
    min-height: 96%;
    text-align: justify;
    line-height: 1.5em;
}

article hr {
    margin-bottom: 20px;
}

article:nth-child(2) {
    background-image: url(../img/estudos/unicastelo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}

article:nth-child(3) {
    background-image: url(../img/estudos/impacta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}