#carrocel {
    padding-left: 1280px;
    padding-bottom: 400px;
    background-image: url(../img/qsu_carrocel/05.jpg);
    background-repeat: no-repeat;
    background-size: 1280px, 400px;
    animation: carrocel 30s linear infinite 2s;
}

@keyframes carrocel {
    25% {background-image: url(../img/qsu_carrocel/04.jpg); background-position: center;}
    50% {background-image: url(../img/qsu_carrocel/06.jpg);}
    100% {background-image: url(../img/qsu_carrocel/07.jpg);}
}

h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

article {
    padding-bottom: 30px;
}

p {
    width: 1200px;
    margin: auto;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 1.5em;
}
